body{
    background: rgb(252, 147, 164);
    min-height: 100vh; 
    margin: 0;
    padding: 10px;
}

ul {
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    border-radius: 10px;
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

li a:hover, .drop:hover .dropbtn {
    background: rgb(255, 0, 132);
}

li.drop {
    display: inline-block;
    border-radius: 10px;
    position: relative; 
}

.drop-pai {
    position: absolute;
    background: white;
    min-width: 160px; 
    display: none;
    border-radius: 10px;
    z-index: 1; 
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.drop-pai a {
    color: black;
    display: block;
    text-align: left;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    padding: 12px 16px;
}

.drop-pai a:hover {
    color: white;
    background-color: rgb(255, 0, 132);
}

.drop:hover .drop-pai {
    display: block;
}

.red {
    background-image: linear-gradient(rgb(233, 58, 160), red);
    text-align: center;
    border-radius: 10px;
    padding: 15px; 
    margin-bottom: 10px;
}

img {
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    max-width: 95%; 
    height: auto; 
}


@media (max-width: 600px) {
    ul {
        flex-direction: column; 
        align-items: stretch;
    }

    li {
        text-align: center;
        border-bottom: 1px solid #333; 
    }

    .drop-pai {
        position: static; 
        width: 100%;
    }
    
    br {
        display: none;
    }
}